<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="amr_st" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find amr)/urdf/mogi_bot.gazebo" />

  <!-- STEP 4 - RViz colors -->
  <xacro:include filename="$(find amr)/urdf/materials.xacro" />

  <link name="base_footprint"></link>

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.3878E-17 -0.001549 -0.025118"
        rpy="0 0 0" />
      <mass
        value="0.5046" />
      <inertia
        ixx="0.00052985"
        ixy="-2.3496E-20"
        ixz="1.2176E-20"
        iyy="0.00052523"
        iyz="-1.6491E-06"
        izz="0.00083999" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://amr/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.18824 0.23137 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="3.46944695195361E-18 -1.38777878078145E-17 -1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0137444678594553" />
      <inertia
        ixx="4.2951462060798E-06"
        ixy="3.90813348607995E-39"
        ixz="2.00890147845606E-39"
        iyy="2.20369634679934E-06"
        iyz="-5.80897065071305E-40"
        izz="2.20369634679934E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.964705882352941 0.964705882352941 0.952941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0615 0.038709 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="0.123 0 -1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0137444678594554" />
      <inertia
        ixx="4.2951462060798E-06"
        ixy="2.29588740394978E-39"
        ixz="-2.86985925493723E-39"
        iyy="2.20369634679934E-06"
        iyz="4.7048375074907E-39"
        izz="2.20369634679934E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.964705882352941 0.964705882352941 0.952941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.0615 0.038709 -0.04"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="scan_link">
    <inertial>
      <origin
        xyz="0 0 6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="0.0098174770424681" />
      <inertia
        ixx="7.10744431720347E-07"
        ixy="-4.77927573339736E-55"
        ixz="-2.85760861487596E-39"
        iyy="7.10744431720347E-07"
        iyz="-2.37149515633406E-39"
        izz="7.66990393942821E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/scan_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.768627450980392 0.207843137254902 0.152941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/scan_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="scan_joint"
    type="continuous">
    <origin
      xyz="0 -0.026291 0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="scan_link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0 -0.0732905335476936 -0.025"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>



  <gazebo reference="scan_link">
    <selfCollide>false</selfCollide>
    <mu1 value="0.05" />
    <mu2 value="0.05" />
  </gazebo>
  
  <gazebo reference="left_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.0001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.0001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.000002</mu1>
    <mu2>0.000002</mu2>
  </gazebo>

  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>