<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="amr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find amr)/urdf/mogi_bot.gazebo" />

  <!-- STEP 4 - RViz colors -->
  <xacro:include filename="$(find amr)/urdf/materials.xacro" />

  <link name="base_footprint"></link>

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.3541E-08 7.6429E-05 -0.07509"
        rpy="0 0 0" />
      <mass
        value="7.5204" />
      <inertia
        ixx="0.053228"
        ixy="7.434E-09"
        ixz="-8.7486E-09"
        iyy="0.039254"
        iyz="4.9379E-05"
        izz="0.064238" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="0 6.96891506366728E-18 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="1.5707963267949" />
      <inertia
        ixx="0.00785398163397449"
        ixy="2.17841412575483E-20"
        ixz="-2.51534461981641E-17"
        iyy="0.00425424005173618"
        iyz="1.46819044190745E-19"
        izz="0.00425424005173618" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0.13 0 -0.075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="0 -9.86076131526265E-32 -1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="1.5707963267949" />
      <inertia
        ixx="0.00785398163397449"
        ixy="2.63321027734168E-31"
        ixz="-2.51228010873032E-17"
        iyy="0.00425424005173618"
        iyz="-1.7483503074386E-45"
        izz="0.00425424005173618" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.13 0 -0.075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="1 0 0" />
  </joint>
  
  
  <link
    name="scan_link">
    <inertial>
      <origin
        xyz="1.51788304147971E-18 0 -1.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.392699081698724" />
      <inertia
        ixx="0.000327249234748937"
        ixy="-1.41172157875729E-21"
        ixz="1.13050365080001E-18"
        iyy="0.000327249234748937"
        iyz="-1.74726075395009E-18"
        izz="0.000490873852123405" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/scan_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/scan_link.STL" />
      </geometry>
    </collision>
  </link>
  
  
  <joint name="scan_joint" type="continuous"> 
    <origin
      xyz="-0.00055325 -0.075003 0.025"
      rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="scan_link"/>
    <axis xyz="0 0 1" />
  </joint>
  
  
  <link name="camera_link">
    <pose>0 0 0 0 0 0</pose>
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  
  
  <joint name="camera_joint" type="fixed">
    <origin
      xyz="-0.00250000000000108 -0.175 -0.0375000000000026"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>


  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <joint type="fixed" name="camera_optical_joint">
    <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
    <child link="camera_link_optical"/>
    <parent link="camera_link"/>
  </joint>

  <link name="camera_link_optical">
  </link>

  <!-- IMU -->
  <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="imu_link" />
  </joint>

  <link name="imu_link">
  </link>

  <gazebo reference="scan_link">
    <selfCollide>false</selfCollide>
    <mu1 value="0.05" />
    <mu2 value="0.05" />
  </gazebo>


  <gazebo reference="left_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.0001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.0001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.000002</mu1>
    <mu2>0.000002</mu2>
  </gazebo>
</robot>